
@media (min-width: 768px) {
  .progress-image {
    width: 20px;
    margin: auto;
    background-color: aqua;
  }
  .page-container4 {
    width: 50%;
    height: 10%;
    margin-top: 5%;
    margin: auto;
    background-color: azure;
  }
}

.time-text {
  position: absolute;

  top: 86%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 5%;
  width: 40%;

}

.page-container3 {
  position: relative;
  width: 100%;
  width: auto;
  height: 100%;
  text-align: center;

  
}
/* .page-container2 {
  position: relative;
  width: 100%;
  height: 10%;

  background-color: antiquewhite;
} */

.begin-images{
  width: 90%;
  /* width: auto; */
  height: 100%;
}


.clock-images{
  width: 90%;
 
  height: 100%;
  margin-top: 10%;
 
}
.background-images {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url("C:\Users\coded\Desktop\Projects\ui-bata - Copy\src\Bata-Assets\Banners with Text and elements\Banners with Text and elements\sky.png"); */
  /* C:\Users\coded\OneDrive\Desktop\MyFolder\ui-bata - Copy\src\Bata-Assets\Banners with Text and elements\Banners with Text and elements\sky.png */
  background-image: url("C:/Users/coded/OneDrive/Desktop/MyFolder/ui-bata - Copy/src/Bata-Assets/Banners with Text and elements/Banners with Text and elements/sky.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.progresss-image {
  width: 70%;
  margin: auto;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.button-begin{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 5%;
  width: 40%;
  /* background-color: aqua; */
}


.how-begin{  
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 5%;
  width: 40%;
  /* background-color: antiquewhite; */
}


.close-icon {
  position: absolute;
  top: 4%;
  right: 5%;
  transform: translate(-50%, -50%);
  height: 5%;
  width: 8%;
  /* background-color: blueviolet; */
}

